# Operating system
Windows

# Technology stack
- react
- redux
- tailwindcss
- pnpm package manager

# Avalable frontend packages
- react-dnd
- rxjs
- react-draggable
- @tippyjs/react
- react-icons
- clsx
- react-redux
- redux-observable
- @ramonak/react-progress-bar

# React rules
- always use functional components with hooks

# Typescript rules
- always use named exports
- always generate types or interfaces for complex types
