.beast_chakra {
  background: #0D1932;
  border: 2px solid #5D6E7D;
  height: 25px;
  width: 25px;
  transform: rotate(45deg);
  border-radius: 6px;
  overflow: hidden;
}

.beast_chakra div {
  transform: rotate(-45deg);
}