body {
  overflow: hidden;
}

.App {
  min-height: 100vh;
  background-color: #545561;
  color: #fff;
}

.App input {
  color: #000;
}

.highlight-green {
  color: #6CC46C;
}

.highlight-yellow {
  color: #EEEE61;
}

.highlight {
  color: #EE7318;
}

.alternative-container .alternative {
  display: none;
}

.alternative-container .alternative:first-child {
  display: inline-block;
}
