body {
  overflow: hidden;
}

.App {
  min-height: 100vh;
  background-color: #545561;
  color: #fff;
}

.App input {
  color: #000;
}

@keyframes scrolling-text-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(300px);
    opacity: 0;
  }
}

.scroll-down-enter {
  animation: scrolling-text-down 5000ms;
  animation-timing-function: linear;
  opacity: 0;
}

.scroll-down-enter-done {
  opacity: 0;
}

.scroll-down-exit {
  opacity: 0;
}

.scroll-down-exit-done {
  opacity: 0;
}

@keyframes scrolling-text-up {
  0% {
    transform: translateY(120px);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.scroll-up-enter {
  animation: scrolling-text-up 2000ms;
  animation-timing-function: linear;
  opacity: 0;
}

.scroll-up-enter-done {
  opacity: 0;
}

.scroll-up-exit {
  opacity: 0;
}

.scroll-up-exit-done {
  opacity: 0;
}

@keyframes wave {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.dot {
  display: inline-block;
}

:not(:first-child).dot-enter {
  transform: translateY(-15px);
  opacity: 0;
}

:not(:first-child).dot-enter-active {
  opacity: 1;
  animation: wave 250ms;
  animation-timing-function: linear;
  animation-delay: calc(0.1s * var(--i));
}

.dot-exit {
  transform: translateY(0) !important;
  opacity: 1;
}

.dot-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
