.bar > div {
  height: 12px !important;
  width: 150px !important;
  border: 2px solid #ad925a !important;
  background-color: #625349 !important;
  border-radius: 6px !important;
}

.bar > div > div {
  height: 8px !important;
  border-radius: 0px !important;
  overflow: hidden;
}

.diamond {
  background: #0D1932;
  border: 1px solid #ad925a;
  height: 14px;
  width: 14px;
  transform: rotate(45deg);
}

.circle {
  background: #0D1932;
  border: 1px solid #ad925a;
  height: 14px;
  width: 14px;
  border-radius: 50%;
}
